.body {
  background-color: #B02929;
  grid-template-columns: 1fr 1fr ;
  display: grid;
  height: 300px;
  align-items: center;
  justify-items: center;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
}

.book-img {
  width: 300px;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
}

.book-info {
  grid-template-columns: 1fr 1fr ;
  display: grid;
}

.title-bar,.author-bar,.isbn-bar,.price-bar {
  border-radius: 20px;
  height: 20px;
}

.title-info,.author-info,.isbn-info,.price-info {
  font-weight: bold;
  margin-top: 10px;
}
