<!DOCTYPE html>
<html>
<head>
  <title>Add a New Book</title>
  <style>

    .navbar {
            background-color: #B02929;
            color: white;
            padding: 10px 20px; 
            display: flex; 
            justify-content: space-between; 
            align-items: center;
        }
    .image-box {
      background-color: black;
    }
    
    .body {
      background-color: #B02929;
      grid-template-columns: 1fr 1fr;
      display: grid;
    }

    .book-info {
      grid-template-columns: 1fr 1fr;
      display: grid;
    }

  </style>
</head>
<body>

  <div class="navbar">
        <div>
            <strong>⚙️ Admin Panel</strong>
        </div>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
  </div>
  <div><div class="section"></div>
  
    <h1>Add Book</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <div class="body">
        <div class="image-box"><p><img class="book-img"> image</p></div>
        
        <div class="book-info">
          <p class="title-info"> title: </p>
            <input class="title-bar" type="text"
            placeholder="title">
          

          <p class="author-info"> author: </p>
            <input class="author-bar" type="text"
            placeholder="author">

          <p class="isbn-info"> ISBN: </p>
            <input class="isbn-bar" type="text"
            placeholder="isbn">
          

          <p class="price-info"> price: </p>
            <input class="price-bar" type="text"
            placeholder="price">
        </div>
        <button type="submit">Save Book</button>
      </form>
      <a href="{% url 'admin' %}">Back to Dashboard</a>
    </div>
  </div>

</body>

</html>
